{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <p>Presupuesto para: {{solicitud.resumen_solicitud}}</p>
    <form method="POST">
        {% csrf_token %}
        {{formulario.as_p}}
        <input type="submit" class="btn" id="add_presupuesto" value="Agregar presupuesto">
    </form>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>

</html>