{% extends "base.html" %}
{% block title %} Añadir causa {% endblock %}
{% block content %}
{% load static %}

    <nav class="navbar">
        <div class="container-fluid">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <form method="POST">
        {% csrf_token %}
        {{formulario.as_p}}
        <input type="submit" class="btn" id="add_solicitud" value="Ingresar nueva Solicitud">
    </form>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% endblock%}