{% extends "base.html" %}
{% block title %} Añadir causa {% endblock %}
{% block content %}
{% load static %}
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-lg">
        <div class="row">
            <div class="col">Caratulado: {{causa.caratulado}}</div>
            <div class="col">ROL: {{causa.rol}}</div>
            {% if user.cliente.is_abogado %}
            <div class="col"><a href="{% url 'add_tramite' causa.id%}">Añadir tramites</a></div>
            {% endif %}
        </div>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Folio</th>
                    <th>Foja</th>
                    <th>Tramite</th>
                    <th>Fecha</th>
                </tr>
                {% for tr in tramites %}
                <tr>
                    <td>{{tr.folio}}</td>
                    <td>{{tr.foja}}</td>
                    <td>{{tr.etapa}}</td>
                    <td>{{tr.fecha_tramite}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% endblock%}