{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    usuario: {{user}}
    id: {{usuario}}
    <table class="table table-striped">
        <tr>
            <th>Caratulado</th>
            <th>Rol</th>
            <th>Fecha de Ingreso</th>
            <th>Estado</th>
            <th>Tribunal</th>
        </tr>
        {% for c in causas %}
        <tr>
            <td><a href="{% url 'causa' c.id %}">{{c.caratulado}}</a></td>
            <td>{{c.rol}}</td>
            <td>{{c.fecha_ingreso}}</td>
            <td>{{c.estado}}</td>
            <td>{{c.tribunal}}</td>
        </tr>
        {% endfor %}
    </table>
    {% if solicitudes %}
    <table class="table table-striped">
        <tr>
            <th>ID solicitud</th>
            <th>Resumen solicitud</th>
            <th>Fecha de ingreso</th>
            <th>Eliminar</th>
        </tr>
        {% for s in solicitudes %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.resumen_solicitud}}</td>
            <td>{{s.fecha_solicitud}}</td>
            <td><a href="{% url 'del_solicitud' s.id %}">Eliminar solicitud</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if presupuestos %}
    <table class="table table-striped">
        <tr>
            <th>ID Presupuesto</th>
            <th>Solicitud</th>
            <th>Valor</th>
            <th>Aprobar</th>
            <th>Rechazar</th>
        </tr>
        {% for pr in presupuestos%}
        <tr>
            <td>{{pr.id}}</td>
            <td>{{pr.solicitud}}</td>
            <td>{{pr.valor}}</td>
            <td><a href="{% url 'aceptar_presupuesto' pr.id %}">Aprobar</a></td>
            <td><a href="{% url 'rechazar_presupuesto' pr.id %}">Rechazar</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>

</html>